{% load django_htmx %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}hackerfoods{% endblock title %}</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >
    <style>
        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            background-color: #ff6600;
            margin: 0rem 0rem 1rem 0rem;
            gap: 2rem;
            a {
                color: #000000;
            }
            nav {
                display: flex;
                gap: 2rem;
            }
        }
    </style>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/debug.js" defer></script>
</head>
<body>
    <div class="top-bar container-fluid">
        <h1>
            <a 
                hx-get="{% url 'home' %}"
                hx-target="#content"
                hx-push-url="true"
            >
                hackerfoods
            </a>
        </h1>
        <nav>
            <a 
                hx-get="{% url 'home' %}"
                hx-target="#content"
                hx-push-url="true"
            >
                Home
            </a>
            <a 
                hx-get="{% url 'about' %}" 
                hx-target="#content"
                hx-push-url="true"
            >
                About
            </a>
        </nav>
    </div>
    <div id="content" class="container">
        {% block page_content %}{% endblock page_content %}
    </div>
    {% django_htmx_script %}
</body>
</html>
