<style>
    ul {
        list-style: none;
        padding: 0px;
        margin: 2rem 0rem;
    }

    li {
        margin: 2rem 0rem 2rem 0rem;
        display: flex;
    }

    .votes {
        margin: 0.6rem 1rem 0rem 0rem;
        display: flex;
    
        h1 {
            border-radius: 100px;
            width: 3rem;
            height: 3rem;
            padding: 0.3rem 0.95rem;
            font-size: 1.8rem;
            border: 1px solid #ff6600;
            background-color: #ffd9c0;
        }
        .vote-buttons {
            display: flex;
            flex-direction: column;
            margin: -1rem 0rem 0rem 0.4rem;

            button {
                background-color: #ff6600;
                border: none;
                border-radius: 12px;
                width: 2rem;
                height: 2rem;
                margin: 0.4rem 0rem 0rem 0.3rem;
                padding: 3px 3px 6px 3px;
                color: white;
                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }
            button:hover {
                background-color: #ffd9c0;
            }
        }
    }
</style>

{% block page_content %}
{% if recipes %}
<ul>
    {% for recipe in recipes %}
    <li>
        <div class="votes">
            <h1>{{ recipe.vote_sum }}</h1>
            <div class="vote-buttons">
                <button class="upvote">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                </button>
                <button class="downvote">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                </button>
            </div>
        </div>
        <a 
            hx-get="/{{ recipe.id }}/" 
            hx-target="#content"
            hx-push-url="true"
        >
            <div class="recipe-text">
                <h2>{{ recipe.title }}</h2>
                <p>{{ recipe.description }}</p>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No recipes are available, add one?</p>
{% endif %}
{% endblock page_content %}
